extends layout

block content
  h1= title
  #spacer(style = "height: 150px")
  
  #footer(style = "width: 600px; margin: auto; text-align: center;")
    |Last Night Was... lets you rate the people you date.
    br
    |Check out profiles before you date!
    br
    |Let other people know how things went!
    br
    |All anonymously!
    br
    |© Ravioli Labs, llc.